	

	html .mceContentBody {
		max-width:640px;
	}
	* {
		font-family: 'Helvetica Neue',Arial,Helvetica,sans-serif;
		color: #444;
		line-height: 1.5;
	}

	h1, h2, h3, h4, h5, h6 {
		margin:0; padding:0;
		font-family:Helvetica, Arial, sanserif;
		font-weight: normal;
	}
	
	h1, h2, h3 {
		margin-top: 10px;
		margin-bottom:10px;
	}
	
	h4, h5, h6 {
		margin-top: 5px;
		margin-bottom:5px;
	}
	
	h1 {
		font-size:1.5em;
	}
	
	h2 {
		font-size:1.4em;
	}
	
	h3 {
		font-size:1.3em;
	}
	
	h4 {
		font-size:1.2em;
	}
	
	h5 {
		font-size:1.1em;
	}
	
	h6 {
		font-size:1.0em;
	}
	
		
	a {
		color:#003366;
		text-decoration:none;
		outline:none;
	}

	a:hover {
		text-decoration:underline;
	}
	
	a img {
		outline:none;
		border:0;
	}
	
	.alignleft {
		float:left;
		margin-right:15px;
	}
	
	.alignright {
		float:right;
		margin-left:15px;
	}
	
	.aligncenter {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	img {
		max-width:100%;
		height:auto;
	}
	
	blockquote  {
		padding:10px 30px;
		margin:0px;
		border-top:solid 1px #ccc;
		border-bottom:solid 1px #ccc;
		font-size:1.05em;
		line-height:1.2em;
	}
	
	blockquote > div,
	blockquote > p {
		margin:0px;
	}
	
	ul,
	ol {
		margin: 5px 0px 0px -15px;
	}

	ul {
		list-style: square;
	}
	
	ol {
		list-style: decimal;
	}
	
	ol ol {
		list-style: upper-alpha;
	}
	
	ol ol ol {
		list-style: lower-roman;
	}
	
	ol ol ol ol {
		list-style: lower-alpha;
	}
	
	ul ul,
	ol ol,
	ul ol,
	ol ul {
		margin-bottom: 0;
	}
	
	.left_box, .right_box, .full_box {
	background-color: #f6f6f6;
	border: 1px solid #ccc;
	width: 40%;
	padding: 10px;
	padding-right: 10px;
	margin-left: 10px;
	margin-right: 30px;
	margin-bottom: 1em;
	}

	.right_box { float: right; }
	.left_box { float: left; }
	.full_box { width: 96%; margin: 0 0 24px 0;}
	.right_box {
		margin-right: 0;
		background-color: #FFF6DC;
		border: 1px solid #F0CB00;
	}
	.full_box:before,
	.full_box:after {
		content: "";
		clear: both;
	}
	.full_box {
		zoom: 1;
		background-color: #f9f9f9;
		border: 1px solid #ccc;
	}
	#content .right_box ul {
		margin-bottom: 0;
	}

