/*
Variation Name: UNC Charlotte
*/

/****************************************************************************************
 * General
 ****************************************************************************************/

a {
	color:#006633;
	text-decoration:none;
	outline:none;
}


/****************************************************************************************
 * Header
 ****************************************************************************************/

	#header {
		height:100px;
	}
	
	#header #title-box .name {
		font-weight:normal;
		margin:0px;
	}

	#header #title-box .description {
		font-weight:normal;
		margin:0px;
	}

/****************************************************************************************
 * Widget - Pages, Menus, Categories
 ****************************************************************************************/

	.widget_pages h2,
	.widget_nav_menu h2 {
		display:none;
	}

	.widget_pages ul,
	.widget_nav_menu ul,
	.widget_categories ul {
		list-style:none;
		padding-left:0px;
	}
	
	.widget_pages > ul,
	.widget_nav_menu .menu,
	.widget_categories > ul  {
		border-bottom:solid 1px #ccc;
		margin:0px;
	}
	 
	.widget_pages ul a,
	.widget_nav_menu ul a {
		color:#555;
		font-size:0.9em;
		padding:0.6em 17px;
		padding-right:10px;
		display:block;
		border-top:solid 1px #ccc;
	}
	
	.widget_categories ul li {
		padding:0.3em 1px;
		padding-right:0px;
	}

	.widget_categories ul a {
		color:#555;
		font-size:0.9em;
		padding:0.3em 1px;
		padding-right:2px;
	}
	
	.widget_pages ul a:hover,
	.widget_nav_menu ul a:hover {
		text-decoration:none;
		color:#0A7543;
		background-color:#f6f6f6;
		background-color:#eee;
	}
	
	.widget_categories ul li:hover {
		background-color:#f6f6f6;
		background-color:#eee;	
	}
	
	.widget_categories ul a:hover {
		text-decoration:none;
		color:#0A7543;	
	}
	
	.widget_pages ul li.current_page_item > a,
	.widget_nav_menu ul li.current-menu-item > a,
	.widget_categories ul li.current-cat > a {
		font-weight:bold;
		color:#0A7543;
		background-color:#f6f6f6;
	}
	
	.widget_pages ul li.current_page_item,
	.widget_pages ul li.current_page_ancestor,
	.widget_categories li.current-cat,
	.widget_categories li.current-cat-parent,
	.widget_nav_menu ul li.current-menu-item,
	.widget_nav_menu ul li.current-menu-ancestor {
		background-color:#f6f6f6;
	}

	.widget_pages ul.children a,
	.widget_nav_menu ul.sub-menu a {
		border-top:none;
	}
	
	.widget_pages ul.children,
	.widget_nav_menu ul.sub-menu,
	.widget_categories ul.children {
		display:none;
	}
	
	.widget_pages ul li.current_page_item > ul.children,
	.widget_pages ul li.current_page_ancestor > ul.children,
	.widget_nav_menu ul li.current-menu-item > ul.sub-menu,
	.widget_nav_menu ul li.current-menu-ancestor > ul.sub-menu,
	.widget_categories ul li.current-cat > ul.children,
	.widget_categories ul li.current-cat-parent > ul.children {
		display:block;
	}
	
	.widget_pages ul.children,
	.widget_nav_menu ul.sub-menu,
	.widget_categories ul.children {
		padding-left:14px;
	}
	
	.widget_pages ul li a,
	.widget_nav_menu ul li a,
	.widget_categories ul li a {
/* 		background-image:url('images/list-bullet2.png'); */
	    background-repeat: no-repeat;
	    background-position: left center;
	}

	.widget_pages ul li.page_item_has_children > a ,
	.widget_nav_menu ul li.menu-item-has-children > a {
		background-image:url('images/list-arrow-right.png');
	}
	
	.widget_categories li > a:before { 
		content: url('images/list-arrow-right.png'); 
		padding:0.3em 4px;
	}
	
	.widget_categories li > a:only-child:before { 
		content: ''; 
		padding:0.3em 10px;
	}
	.widget_pages ul li.current_page_item.page_item_has_children > a,
	.widget_pages ul li.current_page_ancestor.page_item_has_children > a,
	.widget_nav_menu ul li.current-menu-item.menu-item-has-children > a,
	.widget_nav_menu ul li.current-menu-ancestor.menu-item-has-children > a {
		background-image:url('images/list-arrow-down.png');
	}

/****************************************************************************************
 * Admin Bar
 ****************************************************************************************/

	#wpadminbar {
		background: #006633 !important;
	}

	#wpadminbar .ab-top-menu>li>.ab-item:focus, 
	#wpadminbar.nojq .quicklinks .ab-top-menu>li>.ab-item:focus, 
	#wpadminbar .ab-top-menu>li:hover>.ab-item, 
	#wpadminbar .ab-top-menu>li.hover>.ab-item {
		background: #005522 !important;
		color: #fff !important;
	}

	#wpadminbar .ab-top-menu>li>ul.ab-sub-wrapper>li>.ab-item:focus, 
	#wpadminbar.nojq .quicklinks .ab-top-menu>li>ul.ab-sub-wrapper>li>.ab-item:focus, 
	#wpadminbar .ab-top-menu>ul.ab-sub-wrapper>li>li:hover>.ab-item, 
	#wpadminbar .ab-top-menu>ul.ab-sub-wrapper>li>li.hover>.ab-item {
		background: #0000002 !important;
		color: #ccc !important;
	}

	#wpadminbar .quicklinks .menupop ul li a:hover, 
	#wpadminbar .quicklinks .menupop ul li a:focus, 
	#wpadminbar .quicklinks .menupop ul li a:hover strong, 
	#wpadminbar .quicklinks .menupop ul li a:focus strong, 
	#wpadminbar .quicklinks .menupop.hover ul li a:hover, 
	#wpadminbar .quicklinks .menupop.hover ul li a:focus, 
	#wpadminbar.nojs .quicklinks .menupop:hover ul li a:hover, 
	#wpadminbar.nojs .quicklinks .menupop:hover ul li a:focus, 
	#wpadminbar li:hover .ab-icon:before, 
	#wpadminbar li:hover .ab-item:before, 
	#wpadminbar li a:focus .ab-icon:before, 
	#wpadminbar li .ab-item:focus:before, 
	#wpadminbar li.hover .ab-icon:before, 
	#wpadminbar li.hover .ab-item:before, 
	#wpadminbar li:hover #adminbarsearch:before {
		color: #cbb563 !important;
	}
	
	#wp-admin-bar-my-sites #wp-admin-bar-my-sites-super-admin > li > .ab-item:before,
	#wp-admin-bar-my-sites #wp-admin-bar-my-sites-list > li > .ab-item:before {
		color: #fff !important;
	}

	#wp-admin-bar-my-sites #wp-admin-bar-my-sites-super-admin > li:hover > .ab-item,
	#wp-admin-bar-my-sites #wp-admin-bar-my-sites-super-admin > li.hover > .ab-item,
	#wp-admin-bar-my-sites #wp-admin-bar-my-sites-list > li:hover > .ab-item,
	#wp-admin-bar-my-sites #wp-admin-bar-my-sites-list > li.hover > .ab-item,
	#wp-admin-bar-my-sites #wp-admin-bar-my-sites-super-admin > li:hover > .ab-item:before,
	#wp-admin-bar-my-sites #wp-admin-bar-my-sites-super-admin > li.hover > .ab-item:before,
	#wp-admin-bar-my-sites #wp-admin-bar-my-sites-list > li:hover > .ab-item:before,
	#wp-admin-bar-my-sites #wp-admin-bar-my-sites-list > li.hover > .ab-item:before {
		color: #cbb563 !important;
	}
	
	#wpadminbar>#wp-toolbar li:hover span.ab-label, 
	#wpadminbar>#wp-toolbar li.hover span.ab-label, 
	#wpadminbar>#wp-toolbar a:focus span.ab-label {
		color: #fff !important;
	}

	#wpadminbar .menupop .ab-sub-wrapper, 
	#wpadminbar .shortlink-input {
		background: #00703C !important;
	}

	#wpadminbar .quicklinks .menupop ul.ab-sub-secondary, 
	#wpadminbar .quicklinks .menupop ul.ab-sub-secondary .ab-submenu {
		background: #00703C !important;
	}

	#wpadminbar .quicklinks li .blavatar:before {
		content: '' !important;
		display: none !important;
	}

	#wpadminbar .ab-top-menu>li#wp-admin-bar-notes>.ab-item:focus, 
	#wpadminbar.nojq .quicklinks .ab-top-menu>li#wp-admin-bar-notes>.ab-item:focus, 
	#wpadminbar .ab-top-menu>li#wp-admin-bar-notes:hover>.ab-item, 
	#wpadminbar .ab-top-menu>li#wp-admin-bar-notes.hover>.ab-item {
		background: transparent !important;
	}

	#wpadminbar #wp-admin-bar-comments .count-0 {
		opacity: 1 !important;
	}
	
