
/****************************************************************************************
 * General
 ****************************************************************************************/

	#overlay,
	#overlay.hide {
		background-color:#ccc;
		background-color:rgba(50,50,50,0.3);
	}
	
/****************************************************************************************
 * Header
 ****************************************************************************************/


/****************************************************************************************
 * Header Menu
 ****************************************************************************************/

	#header-menu-wrapper {
		background-color:#fff;
		box-shadow:0px 0px 5px rgba(0,0,0,0.4);
	}
	
	#header-menu > h2 {
		background-color:#f6f6f6;
		border-bottom-color:#ccc;
	}
	
/****************************************************************************************
 * Header Menu - Search
 ****************************************************************************************/

	#header-menu .textbox_wrapper {
		border-color:#666;
	}
	
	#header-menu .textbox_wrapper input[type=submit] {
	    background-color:#666;
	    color:transparent;
	    border-color:#666;
	}

/****************************************************************************************
 * Header Menu - Navigation Menu
 ****************************************************************************************/
	
	#header-menu ul a {
		color:#555;
		border-top-color:#ccc;
	}
	
	#header-menu ul a:hover {
		color:#0a7543;
		background-color:#eee;
	}

	#header-menu ul li.current_page_item > a {
		color:#0a7543;
		background-color:#f6f6f6;
	}

	#header-menu ul li.current_page_item > a:hover {
		color:#0a7543;
		background-color:#eee;
	}
			
	#header-menu ul li.current_page_item,
	#header-menu ul li.current_page_ancestor {
		background-color:#f6f6f6;
	}
	
/****************************************************************************************
 * Main
 ****************************************************************************************/
	

/****************************************************************************************
 * Sidebar
 ****************************************************************************************/

	#left-sidebar-wrapper,
	#right-sidebar-wrapper {
		box-shadow:0px 0px 5px rgba(0,0,0,0.4);
		background-color:#fff;
	}

/****************************************************************************************
 * Content
 ****************************************************************************************/
	
	#content .sidebar-controls .button.show {
		border-color:#666;
	}

	#content .sidebar-controls .button.hide {
		border-color:#ccc;
	}

/****************************************************************************************
 * Footer
 ****************************************************************************************/

	#footer .links {
		border-bottom-color:#ccc;
	}
	
	#footer .links a {
		color:#666;
	}

	#footer .follow {
		border-bottom-color:#ccc;
	}
	
	#footer .follow > div {
		color:#666;
	}
	
	#footer .search {
		border-bottom-color:solid 1px #ccc;
	}

