

/****************************************************************************************
 * General
 ****************************************************************************************/

	#site-inside-wrapper {
		box-shadow:0em 0em 0.5em rgba(0,0,0,0.2);
	}
	
/****************************************************************************************
 * Header
 ****************************************************************************************/


/****************************************************************************************
 * Sidebar
 ****************************************************************************************/

		
/****************************************************************************************
 * Content
 ****************************************************************************************/


/****************************************************************************************
 * Sidebar
 ****************************************************************************************/

	/* none */
	
/****************************************************************************************
 * Footer
 ****************************************************************************************/

	#footer .widget-column {
		border-right-color:#ccc;
	}
	
/****************************************************************************************
 * Header - Menu
 ****************************************************************************************/

	#header-menu {
		background-color:#fff;
	}

	#header-menu a {
		color:#333;
	}
	
	#header-menu ul ul {
		background-color:#f6f6f6;
		border-color:#ccc;
		border-top-color:#fff;
	}
	
	#header-menu ul > li:hover > a {
		border-color:#ccc;
		border-top-color:#fff;
	}

	#header-menu a:hover {
		color:#003366;
	}

	#header-menu li.current_page_item > a {
		color:#003366;
	}

	#header-menu ul > li.current_page_item > a,
	#header-menu ul > li.current_page_parent > a,
	#header-menu ul > li.current_page_ancestor > a {
		background-color:#f0f0f0;
		border-color:#ccc;
		border-top-color:#fff;
	}
	
	#header-menu ul ul > li.current_page_item > a,
	#header-menu ul ul > li.current_page_parent > a,
	#header-menu ul ul > li.current_page_ancestor > a {
		border-color:transparent;
	}
	
	#header-menu li.current_page_item ul.children > li:hover > a,
	#header-menu li.current_page_parent ul.children > li:hover > a,
	#header-menu li.current_page_ancestor ul.children > li:hover > a {
		background-color:#e9e9e9;
	}

	#header-menu li:hover > a {
		background-color:#e9e9e9;
	}
	
	#header-menu ul ul li:hover > a {
		background-color:#e9e9e9;
	}
	
	#header-menu li.current_page_item:hover > a,
	#header-menu li.current_page_parent:hover > a,
	#header-menu li.current_page_ancestor:hover > a {
		background-color:#e9e9e9;
	}

	#header-menu li.current_page_parent:hover ul.children > li:hover > a,
	#header-menu li.current_page_ancestor:hover ul.children > li:hover > a {
		background-color:#e9e9e9;
	}
	
	