

/****************************************************************************************
 * General
 ****************************************************************************************/

	#site-inside-wrapper {
		border-color:#000;
		box-shadow:0em 0em 1em rgba(255,255,255,0.5);
	}
	
/****************************************************************************************
 * Header
 ****************************************************************************************/


/****************************************************************************************
 * Sidebar
 ****************************************************************************************/

		
/****************************************************************************************
 * Content
 ****************************************************************************************/


/****************************************************************************************
 * Sidebar
 ****************************************************************************************/

	/* none */
	
/****************************************************************************************
 * Footer
 ****************************************************************************************/

	/* none */

/****************************************************************************************
 * Header - Menu
 ****************************************************************************************/

	#header-menu {
		background-color:transparent;
	}

	#header-menu a {
		color:#ccc;
	}
	
	#header-menu ul ul {
		background-color:#666;
		border-color:#333;
		border-top-color:#000;
	}
	
	#header-menu ul > li:hover > a {
		border-color:#333;
		border-top-color:#000;
	}

	#header-menu a:hover {
		color:#ccc;
	}

	#header-menu li.current_page_item > a {
		color:#ffc;
	}

	#header-menu ul > li.current_page_item > a,
	#header-menu ul > li.current_page_parent > a,
	#header-menu ul > li.current_page_ancestor > a {
		background-color:#555;
		border-color:#333;
		border-top-color:#000;
	}
	
	#header-menu ul ul > li.current_page_item > a,
	#header-menu ul ul > li.current_page_parent > a,
	#header-menu ul ul > li.current_page_ancestor > a {
		border-color:transparent;
	}
	
	#header-menu li.current_page_item ul.children > li:hover > a,
	#header-menu li.current_page_parent ul.children > li:hover > a,
	#header-menu li.current_page_ancestor ul.children > li:hover > a {
		background-color:#555;
	}

	#header-menu li:hover > a {
		background-color:#555;
	}
	
	#header-menu ul ul li:hover > a {
		background-color:#555;
	}
	
	#header-menu li.current_page_item:hover > a,
	#header-menu li.current_page_parent:hover > a,
	#header-menu li.current_page_ancestor:hover > a {
		background-color:#555;
	}

	#header-menu li.current_page_parent:hover ul.children > li:hover > a,
	#header-menu li.current_page_ancestor:hover ul.children > li:hover > a {
		background-color:#555;
	}
	
	