
/****************************************************************************************
 * General
 ****************************************************************************************/

	#overlay,
	#overlay.hide {
		background-color:#333;
		background-color:rgba(200,200,200,0.6);
	}
	
/****************************************************************************************
 * Header
 ****************************************************************************************/


/****************************************************************************************
 * Header Menu
 ****************************************************************************************/

	#header-menu-wrapper {
		background-color:#000;
		box-shadow:0px 0px 5px rgba(255,255,255,0.6);
	}
	
	#header-menu > h2 {
		background-color:#111;
		border-bottom-color:#333;
	}
	
/****************************************************************************************
 * Header Menu - Search
 ****************************************************************************************/

	#header-menu .textbox_wrapper {
		border-color:#999;
	}
	
	#header-menu .textbox_wrapper input[type=submit] {
	    background-color:#999;
	    color:transparent;
	    border-color:#999;
	}

/****************************************************************************************
 * Header Menu - Navigation Menu
 ****************************************************************************************/
	
	#header-menu ul a {
		color:#aaa;
		border-top-color:#333;
	}
	
	#header-menu ul a:hover {
		color:#630;
		background-color:#222;
	}

	#header-menu ul li.current_page_item > a {
		color:#630;
		background-color:#111;
	}

	#header-menu ul li.current_page_item > a:hover {
		color:#630;
		background-color:#222;
	}
			
	#header-menu ul li.current_page_item,
	#header-menu ul li.current_page_ancestor {
		background-color:#111;
	}
	
/****************************************************************************************
 * Main
 ****************************************************************************************/
	

/****************************************************************************************
 * Sidebar
 ****************************************************************************************/

	#left-sidebar-wrapper,
	#right-sidebar-wrapper {
		box-shadow:0px 0px 5px rgba(255,255,255,0.6);
		background-color:#000;
	}

/****************************************************************************************
 * Content
 ****************************************************************************************/
	
	#content .sidebar-controls .button.show {
		border-color:#999;
	}

	#content .sidebar-controls .button.hide {
		border-color:#333;
	}

/****************************************************************************************
 * Footer
 ****************************************************************************************/

	#footer .links {
		border-bottom-color:#333;
	}
	
	#footer .links a {
		color:#999;
	}

	#footer .follow {
		border-bottom-color:#333;
	}
	
	#footer .follow > div {
		color:#999;
	}
	
	#footer .search {
		border-bottom-color:solid 1px #333;
	}

