

/****************************************************************************************
 *
 * From UNC Charlotte variation style.css
 *
 ****************************************************************************************/


/****************************************************************************************
 * Header
 ****************************************************************************************/

	#header {
		height:100px;
	}
	
	#header #title-box .name {
		font-weight:normal;
		margin:0px;
	}

	#header #title-box .description {
		font-weight:normal;
		margin:0px;
	}
	


/****************************************************************************************
 *
 * From UNC Charlotte variation full-site.css
 *
 ****************************************************************************************/


/****************************************************************************************
 * Header
 ****************************************************************************************/

	#header .masthead {
		height:100px;
	}
	
	#header .masthead a.uncc-logo {
		position:absolute;
		top:20px;
		left:10px;
	}
	
	#header #title-box-placeholder {
		left:150px;
		right:200px;
	}

	#header #title-box.hleft {
		text-align:left;
	}
	
	#header #title-box.hcenter {
		text-align:center;
	}

	#header #title-box.hright {
		text-align:right;
	}

	#header #title-box.vtop {
		vertical-align:top;
	}

	#header #title-box.vcenter {
		vertical-align:middle;
	}

	#header #title-box.vbottom {
		vertical-align:bottom;
		padding-bottom:1em;
	}
	
	#header #title-box .name,
	#header #title-box .description {
		padding:2px 5px;
		background-color:transparent;
		color:#fff;
		padding:0px;
	}

	#header #title-box {
		font-family: "Times New Roman", Times, serif !important;
	}
	
	#header #title-box .name {
		font-size: 1.5em;
		letter-spacing: 0.05em;
	}

	#header #title-box .description {
	}
	
	#header #title-box a {
		color:#fff;
		padding:0px;
	}

	#header #title-box a:hover {
		text-decoration:underline;
	}
		
	#header .masthead #header-utility {
		position:absolute;
		right:10px;
		bottom:20px;
		font-family:Arial, sanserif;
	}
	
	#header .masthead #links {
		position:absolute;
		right:10px;
		top:10px;
		font-family:Arial, sanserif;
		text-align:right;
		font-size:0.8em;
	}
	
	#header .masthead #links a {
		display:block;
		color:white;
		margin-bottom:5px;
	}
	
/****************************************************************************************
 * Header and Footer Search
 ****************************************************************************************/

	#header form.searchform input[type=text] {
		height: 15px;
		line-height: 15px;
		margin: 0;
		vertical-align: middle;
		border: none;
		outline: none;
		padding:2px 5px;
	}
	
	#header form.searchform input[type=image] {
	   display: inline-block;
	   vertical-align: middle;
	   height:19px;
	   width:19px;
	}	

