

/****************************************************************************************
 * General
 ****************************************************************************************/

	#site-inside-wrapper {
		width:auto;
		border:none;
		margin-top:0px;
		margin-bottom:0px;
		padding:0px;
		box-shadow: 0px 0px 0px rgba(0,0,0,0);
	}
		
/****************************************************************************************
 * Header
 ****************************************************************************************/

	#header .masthead {
		height:100px;
	}
	
	#header .masthead a.uncc-logo {
		position:absolute;
		top:20px;
		left:10px;
	}
	
	#header #title-box-placeholder {
		left:150px;
		right:200px;
	}

	#header #title-box.hleft {
		text-align:left;
	}
	
	#header #title-box.hcenter {
		text-align:center;
	}

	#header #title-box.hright {
		text-align:right;
	}

	#header #title-box.vtop {
		vertical-align:top;
	}

	#header #title-box.vcenter {
		vertical-align:middle;
	}

	#header #title-box.vbottom {
		vertical-align:bottom;
		padding-bottom:1em;
	}
	
	#header #title-box .name,
	#header #title-box .description {
		padding:2px 5px;
		background-color:transparent;
		color:#fff;
		padding:0px;
	}

	#header #title-box {
		font-family: "Times New Roman", Times, serif !important;
	}
	
	#header #title-box .name {
		font-size: 1.5em;
		letter-spacing: 0.05em;
	}

	#header #title-box .description {
	}
	
	#header #title-box a {
		color:#fff;
		padding:0px;
	}

	#header #title-box a:hover {
		text-decoration:underline;
	}
		
	#header .masthead #header-utility {
		position:absolute;
		right:10px;
		bottom:20px;
		font-family:Arial, sanserif;
	}
	
	#header .masthead #links {
		position:absolute;
		right:10px;
		top:10px;
		font-family:Arial, sanserif;
		text-align:right;
		font-size:0.8em;
	}
	
	#header .masthead #links a {
		display:block;
		color:white;
		margin-bottom:5px;
	}

/****************************************************************************************
 * Banner
 ****************************************************************************************/
	
	#banner {
		width:950px;
		margin:0 auto;
		position:relative;
	}
	
	#banner > a {
		position:absolute;
		top:0px;
		left:0px;
		right:0px;
		bottom:0px;
	}

/****************************************************************************************
 * Header and Footer Search
 ****************************************************************************************/

	#header form.searchform input[type=text],
	#footer form.searchform input[type=text] {
		height: 15px;
		line-height: 15px;
		margin: 0;
		vertical-align: middle;
		border: none;
		outline: none;
		padding:2px 5px;
	}
	
	#header form.searchform input[type=image],
	#footer form.searchform input[type=image] {
	   display: inline-block;
	   vertical-align: middle;
	   height:19px;
	   width:19px;
	}
	
/****************************************************************************************
 * Header - Menu
 ****************************************************************************************/

	#header-menu > div {
		display: table;
		width: 949px;
		table-layout: fixed;
		border-collapse: collapse;
	}
	
	#header-menu ul {
		margin:0;
		display:table-row;
	}
	
	#header-menu ul > li {
		display:table-cell;
		float:none;
		border:solid 1px transparent;
		border-left:dotted 1px #ccc;
		border-right:dotted 1px #ccc;
	}
	
	#header-menu ul > li:hover {
		border-top-color:#fff;
		border-bottom-color:#ccc;
		border-style: solid;
	}

	#header-menu ul ul > li:hover {
		border:none;
	}

	#header-menu ul > li.current_page_item,
	#header-menu ul > li.current_page_parent,
	#header-menu ul > li.current_page_ancestor {
		background-color: #f0f0f0;
		border-color:#ccc;
		border-top-color:#fff;
		border-right-style:solid;
		border-left-style:solid;
	}
	
	#header-menu ul ul > li.current_page_item,
	#header-menu ul ul > li.current_page_parent,
	#header-menu ul ul > li.current_page_ancestor {
		border:none;
	}
	
	#header-menu ul > li > a {
		text-align:center;
		border:none;
	}
	
	#header-menu ul ul > li {
		display:block;
	}
	
	#header-menu ul ul {
		margin-left:-1px;
	}
	
	#header-menu ul ul > li {
		border:none;
	}
	
	#header-menu ul ul > li > a {
		border:solid 1px transparent;
		text-align:left;
	}

	#header-menu a:hover {
		color:#0A7543;
	}

	#header-menu li.current_page_item > a {
		color:#0A7543;
	}

/****************************************************************************************
 * Sidebars
 ****************************************************************************************/

	#left-sidebar-wrapper {
		border:none;
		padding-right:20px;
		width:220px;
		border:none !important;
	}

	#left-sidebar-wrapper.hide {
		padding-right:0px;
	}
	
	#right-sidebar-wrapper {
		border:none;
		padding-left:20px;
		width:220px;
		border:none !important;
	}
	
	#right-sidebar-wrapper.hide {
		padding-left:0px;
	}

	.sidebar h2.widget-title {
		background-color:#f6f6f6;
		color:#006633;
		border-bottom:solid 1px #bbb;
		margin:0px;
		line-height:1.8em;
		height:1.8em;
		padding-left:10px;
		padding-top:2px;
		font-weight:normal;
		font-size:1em;
		font-family:Times, "Times New Roman", serif;
		text-transform:uppercase;
	}

/****************************************************************************************
 * Content
 ****************************************************************************************/
	
	#content {
		min-height:1px;
		margin-bottom:30px;
		border:none !important;
	}
	
	#content.full-width,
	#content.two-sidebars-width.hide-left-sidebar.hide-right-sidebar,
	#content.one-sidebar-width.hide-left-sidebar,
	#content.one-sidebar-width.hide-right-sdiebar {
		min-width:950px;
		width:950px;
	}
	
	#content.one-sidebar-width,
	#content.two-sidebars-width.hide-left-sidebar,
	#content.two-sidebars-width.hide-right-sidebar {
		float:left;
		min-width:709px;
		width:709px;
	}

	#content.two-sidebars-width {
		float:left;
		min-width:468px;
		width:468px;
	}
	
	#content.left-sidebar {
		border:none;
		padding-left:0px;
	}
	
	#content.right-sidebar {
		border:none;
		padding-right:0px;
	}
	
	#content .sidebar-controls .left.button {
		float:left;
	}

	#content .sidebar-controls .right.button {
		float:right;
	}
	
	#content.left-sidebar.hide-left-sidebar {
		padding-left:0px;
		width:0px;
	}
	
	#content.right-sidebar.hide-right-sidebar {
		padding-right:0px;
		width:0px;
	}
	
/****************************************************************************************
 * Widget - Pages
 ****************************************************************************************/
	
	.sidebar .widget_pages {
		padding:0px;
	}

/****************************************************************************************
 * Footer
 ****************************************************************************************/
	
	#footer .links img {
		vertical-align:middle;
	}
	
	