

/****************************************************************************************
 * General
 ****************************************************************************************/

	a:hover {
		text-decoration:underline;
	}

	#site-inside-wrapper, #header, #main, #footer {
		width:950px;
		margin:0 auto;
	}
	
	#site-inside-wrapper {
		border:solid 1px #ccc;
		margin-top:20px;
		margin-bottom:20px;
		padding:20px;
		box-shadow:0px 0px 5px rgba(0,0,0,0.2);
	}

	#left-sidebar-wrapper, #right-sidebar-wrapper, #content-wrapper {
		float:left;
	}
	
/****************************************************************************************
 * Header
 ****************************************************************************************/

	#header #title-box.hleft {
		text-align:left;
	}
	
	#header #title-box.hcenter {
		text-align:center;
	}

	#header #title-box.hright {
		text-align:right;
	}

	#header #title-box.vtop {
		vertical-align:top;
	}

	#header #title-box.vcenter {
		vertical-align:middle;
	}

	#header #title-box.vbottom {
		vertical-align:bottom;
		padding-bottom:1em;
	}
	
	#header #title-box .name,
	#header #title-box .description {
		padding:2px 5px;
	}
	
/****************************************************************************************
 * Main
 ****************************************************************************************/

	#content .sidebar-controls {
		margin-bottom:14px;
	}
	
	#left-sidebar, #right-sidebar {
		width:220px;
	}

	#left-sidebar-wrapper {
		border-right:solid 1px #CCCCCC;
		padding-right:20px;
		position:relative;
		right:-1px;
		margin-left:-1px;
		width:220px;
		overflow:hidden;
	}
	
	#right-sidebar-wrapper {
		border-left:solid 1px #CCCCCC;
		padding-left:20px;
		position:relative;
		left:-1px;
		margin-right:-1px;
		width:220px;
		overflow:hidden;
	}
	
	#content {
		min-height:1px;
		margin-bottom:30px;
	}
	
	#content.full-width,
	#content.two-sidebars-width.hide-left-sidebar.hide-right-sidebar,
	#content.one-sidebar-width.hide-left-sidebar,
	#content.one-sidebar-width.hide-right-sdiebar {
		min-width:950px;
		width:950px;
	}
	
	#content.one-sidebar-width,
	#content.two-sidebars-width.hide-left-sidebar,
	#content.two-sidebars-width.hide-right-sidebar {
		float:left;
		min-width:689px;
		width:689px;
	}

	#content.two-sidebars-width {
		float:left;
		min-width:428px;
		width:428px;
	}
	
	#content.left-sidebar {
		border-left:solid 1px #CCCCCC;
		padding-left:20px;
	}
	
	#content.right-sidebar {
		border-right:solid 1px #CCCCCC;
		padding-right:20px;
	}
	
	#content .sidebar-controls .left-sidebar.button {
		float:left;
	}

	#content .sidebar-controls .right-sidebar.button {
		float:right;
	}
	
	#left-sidebar-wrapper.hide,
	#right-sidebar-wrapper.hide {
		width:0px;
		overflow:hidden;
		border:none;
		padding:0px;
	}

	#left-sidebar-wrapper.show,
	#right-sidebar-wrapper.show {
		width:220px;
		overflow:hidden;
	}

	#content.left-sidebar.hide-left-sidebar {
		border-left:none;
		padding-left:0px;
	}
	
	#content.right-sidebar.hide-right-sidebar {
		border-right:none;
		padding-right:0px;
	}

/****************************************************************************************
 * Sidebar
 ****************************************************************************************/
	
	.sidebar .widget {
		margin:20px 0px;
	}
	
	.sidebar h2.widget-title {
		background-color:#f6f6f6;
		color:#006633;
		border-bottom:solid 1px #bbb;
		margin:0px;
		line-height:1.8em;
		height:1.8em;
		padding-left:10px;
		padding-top:2px;
		font-weight:normal;
		font-size:1em;
		font-family:Times, "Times New Roman", serif;
		text-transform:uppercase;
	}

/****************************************************************************************
 * Footer
 ****************************************************************************************/
	
	#footer .links {
		display:inline-block;
		margin-left:30px;
	}
	
	#footer .search {
		float:right;
		margin-right:30px;
	}

	#footer .address {
		margin-left:40px;
		padding-bottom:10px;
		width:600px;
		display:block; 
		float:left;
	}

	#footer .follow {
		position:absolute;
		right:30px;
		bottom:10px;
		margin:0;
		font-size:1em;
		font-weight:bold;
	}

/****************************************************************************************
 * Header - Menu
 ****************************************************************************************/

	#header .navmenu {
		display:block;
		width:100%;
		height:42px;
		font-family:Arial, sanserif;
		font-size:13px;
		background-color:#fff;
/* 		border-bottom:solid 1px #ccc; */
	}

	#header .navmenu a {
		color:#333;
		display:block;
		line-height:39px;
		padding:0 10px;
		text-decoration:none;
		font-weight:normal;
		border:solid 1px transparent;
	}
	
	#header .navmenu ul {
		list-style:none;
		margin:0;
		padding:0;
	}

	#header .navmenu li {
		float:left;
		position:relative;
	}
	
	#header .navmenu ul ul {
		display:none;
		position:absolute;
		top:38px;
		left:0;
		float:left;
		width:180px;
		z-index:99999;
		background-color:#f6f6f6;
		border-top:solid 1px #fff;
		border-left:solid 1px #ccc;
		border-right:solid 1px #ccc;
		border-bottom:solid 1px #ccc;
	}
	
	#header .navmenu ul ul a {
		border:solid 1px transparent;
	}

	#header .navmenu > ul > li:hover > a {
		border-top:solid 1px #fff;
		border-left:solid 1px #ccc;
		border-right:solid 1px #ccc;
		border-bottom:solid 1px #ccc;
	}

	#header .navmenu ul ul li {
		min-width:180px;
	}

	#header .navmenu ul ul a {
		line-height:1em;
		padding:10px;
		width:158px;
		height:auto;
	}

	#header .navmenu ul ul ul {
		left:100%;
		top:0;
	}
	
	#header .navmenu ul li:hover > ul {
		display:block;
	}
	
	#header .navmenu li:hover > a {
		background:#f6f6f6;
	}
	
	#header .navmenu ul ul li:hover > a {
		background:#eee;
	}
	
	#header .navmenu a:hover {
		color:green;
	}

	#header .navmenu li.current_page_item > a {
		color:green;
		font-weight:bold;
	}

