

/****************************************************************************************
 * General
 ****************************************************************************************/

	a:hover {
		text-decoration:underline;
	}

	#site-inside-wrapper, #header, #main, #footer {
		width:950px;
		margin:0 auto;
	}
	
	#site-inside-wrapper {
		border:solid 1px #ccc;
		margin-top:20px;
		margin-bottom:20px;
		padding:20px;
		box-shadow:0px 0px 5px rgba(0,0,0,0.2);
	}

	#left-sidebar-wrapper, #content-wrapper {
		float:left;
	}
	
	#right-sidebar-wrapper {
		float:right;
	}
	
/****************************************************************************************
 * Header
 ****************************************************************************************/

	#header #title-box.hleft {
		text-align:left;
	}
	
	#header #title-box.hcenter {
		text-align:center;
	}

	#header #title-box.hright {
		text-align:right;
	}

	#header #title-box.vtop {
		vertical-align:top;
	}

	#header #title-box.vcenter {
		vertical-align:middle;
	}

	#header #title-box.vbottom {
		vertical-align:bottom;
		padding-bottom:1em;
	}
	
	#header #title-box .name,
	#header #title-box .description {
		padding:2px 5px;
	}

/****************************************************************************************
 * Sidebar
 ****************************************************************************************/

	#left-sidebar, #right-sidebar {
		width:220px !important;
		max-width:220px !important;
	}

	#left-sidebar-wrapper {
		border:solid 1px transparent;
		padding-right:20px;
		position:relative;
		width:220px;
		overflow:hidden;
	}
	
	#right-sidebar-wrapper {
		border:solid 1px transparent;
		padding-left:20px;
		position:relative;
		width:220px;
		overflow:hidden;
	}
	
	#left-sidebar-wrapper.hide,
	#right-sidebar-wrapper.hide {
		width:0px;
		overflow:hidden;
		border:solid 0px transparent;
		padding:0px;
	}

	#left-sidebar-wrapper.show,
	#right-sidebar-wrapper.show {
		width:220px;
		overflow:hidden;
	}
		
/****************************************************************************************
 * Content
 ****************************************************************************************/

	#content .sidebar-controls {
		margin: 10px 0 14px 0;
	}
	
	#content {
		min-height:1px;
		margin-bottom:30px;
	}
	
	#content.full-width,
	#content.two-sidebars-width.hide-left-sidebar.hide-right-sidebar,
	#content.one-sidebar-width.left-sidebar.hide-left-sidebar,
	#content.one-sidebar-width.right-sidebar.hide-right-sidebar {
		min-width:950px;
		width:950px;
	}
	
	#content.one-sidebar-width,
	#content.two-sidebars-width.hide-left-sidebar,
	#content.two-sidebars-width.hide-right-sidebar {
		float:left;
		min-width:686px;
		width:686px;
	}

	#content.two-sidebars-width {
		float:left;
		min-width:424px;
		width:424px;
	}
	
	#content.left-sidebar {
		border:solid 1px transparent;
		padding-left:20px;
	}
	
	#content.right-sidebar {
		border:solid 1px transparent;
		padding-right:20px;
	}
	
	#content .sidebar-controls .left-sidebar.button {
		float:left;
	}

	#content .sidebar-controls .right-sidebar.button {
		float:right;
	}
	
	#content.left-sidebar.hide-left-sidebar {
		border:solid 0px transparent;
		padding-left:0px;
	}
	
	#content.right-sidebar.hide-right-sidebar {
		border:solid 0px transparent;
		padding-right:0px;
	}
	
/****************************************************************************************
 * Sidebar
 ****************************************************************************************/
	
	.sidebar .widget {
		margin:10px 0px;
		color: #333333;
		font-size: 1em;
		line-height: 1.3em;
		padding: 0px 0 0 0;
	}
	
	.sidebar h2.widget-title {
		font-family: "Helvetica Neue", Arial, Helvetica, "Nimbus Sans L", sans-serif;
		color: #222222;
		border-bottom: 1px solid #CCCCCC;
		font-size: 18px;
		font-variant: small-caps;
		font-weight: normal;
		padding: 5px;
	}
	
/****************************************************************************************
 * Footer
 ****************************************************************************************/
	
	#footer .links {
		display:inline-block;
		margin-left:30px;
	}
	
	#footer .search {
		float:right;
		margin-right:30px;
	}

	#footer .address {
		margin-left:40px;
		padding-bottom:10px;
		width:600px;
		display:block; 
		float:left;
	}

	#footer .follow {
		position:absolute;
		right:30px;
		bottom:10px;
		margin:0;
		font-size:1em;
		font-weight:bold;
	}

/****************************************************************************************
 * Header - Menu
 ****************************************************************************************/

	#header-menu {
		display:block;
		width:100%;
		font-family:Arial, sanserif;
		font-size:13px;
		background-color:#fff;
		width:950px;
		margin:0px auto;
		padding:0px;
		border-bottom: 1px solid transparent;
	}

	#header-menu a {
		color:#333;
		display:block;
		line-height:39px;
		padding:0 10px;
		text-decoration:none;
		font-weight:normal;
		border:solid 1px transparent;
	}
	
	#header-menu ul {
		list-style:none;
		margin:0;
		padding:0;
	}
	
	#header-menu li {
		float:left;
		position:relative;
	}
	
	#header-menu ul > li {
		margin-left:-1px;
	}
	
	#header-menu ul ul > li {
		margin-left:0px;
	}
	
	#header-menu ul {
		margin-left:1px;
	}
	
	#header-menu ul ul {
		display:none;
		position:absolute;
		top:38px;
		left:0;
		float:left;
		min-width:100%;
		width:180px;
		z-index:999;
		margin:0px;
		background-color:#f6f6f6;
		border:solid 1px #ccc;
		border-top-color:#fff;
	}
	
	#header-menu ul ul a {
		border-color:transparent;
	}
	
	#header-menu ul ul ul {
		margin-top:-1px;
		margin-left:0px;
	}

	#header-menu ul > li:hover > a {
		border-color:#ccc;
		border-top-color:#fff;
	}

	#header-menu ul ul > li:hover > a {
		border-color:transparent;
	}

	#header-menu ul ul li {
		width:100%;
	}

	#header-menu ul ul a {
		line-height:1em;
		padding:10px;
		height:auto;
		display:block;
	}

	#header-menu ul ul ul {
		left:100%;
		top:0;
	}
	
	#header-menu ul li:hover > ul {
		display:block;
	}
	
	#header-menu a:hover {
		color:#003366;
	}

	#header-menu li.current_page_item > a {
		color:#003366;
	}

	#header-menu ul > li.current_page_item > a,
	#header-menu ul > li.current_page_parent > a,
	#header-menu ul > li.current_page_ancestor > a {
		background-color: #f0f0f0;
		border-color: #ccc;
		border-top-color: #fff;
	}
	
	#header-menu ul ul > li.current_page_item > a,
	#header-menu ul ul > li.current_page_parent > a,
	#header-menu ul ul > li.current_page_ancestor > a {
		border-color:transparent;
	}
	
	#header-menu li.current_page_item > a {
		font-weight:bold;
	}

	#header-menu li.current_page_item ul.children > li:hover > a,
	#header-menu li.current_page_parent ul.children > li:hover > a,
	#header-menu li.current_page_ancestor ul.children > li:hover > a {
		background-color: #e9e9e9;
	}

	#header-menu li:hover > a {
		background-color:#e9e9e9;
	}
	
	#header-menu ul ul li:hover > a {
		background-color:#e9e9e9;
	}
	
	#header-menu li.current_page_item:hover > a,
	#header-menu li.current_page_parent:hover > a,
	#header-menu li.current_page_ancestor:hover > a {
		background-color:#e9e9e9;
	}

	#header-menu li.current_page_parent:hover ul.children > li:hover > a,
	#header-menu li.current_page_ancestor:hover ul.children > li:hover > a {
		background-color:#e9e9e9;
	}
	
	