
/****************************************************************************************
 * General
 ****************************************************************************************/

	html,
	body,
	#site-outer-wrapper,
	#site-inner-wrapper,
	#header-wrapper,
	#main-wrapper,
	#footer-wrapper {
		width:100%;
/* 		overflow:hidden; */
	}
	
	#overlay,
	#overlay.hide {
		position:fixed;
		left:0px;
		right:0px;
		top:0px;
		bottom:0px;
		z-index:50;
		background-color:#ccc;
		background-color:rgba(50,50,50,0.3);
		display:none;
	}
	
	#overlay.show {
		display:block;
	}
	
	h1 {
		padding:0px 5px;
		margin-left:-5px;
		margin-right:-5px;
	}
	
	input {
		outline:none;
	}

	#header, #banner, #subheader, #main, #footer {
		width:auto;
	}
	
/****************************************************************************************
 * Header
 ****************************************************************************************/

	#header #title-box {
		text-align:center;
		vertical-align:middle;
		width:100% !important;
	}
	
	#header .masthead {
		width:100% !important;
	}

/****************************************************************************************
 * Header - Menu
 ****************************************************************************************/

	#header-menu-button {
		position:absolute;
		left:50%;
		margin-left:-12px;
		margin-top:-12px;
		width:24px;
		height:24px;
		background-image:url('../images/menu-header-grey-search.png');
		background-position:center center;
		z-index:999;
	}
	
	#header-menu-button.show {
		background-image:url('../images/menu-header-black-search.png');
	}
	
	#header-menu-button.hide {
		background-image:url('../images/menu-header-grey-search.png');
	}
	
	#header-menu-button:hover {
		cursor:pointer;
	}

	#header-menu-button-search-menu {
		font-size:0.5em;
		font-weight:bold;
		width:100%;
		text-align:center;
		margin-top:13px;
		position:absolute;
	}
	
	#header-menu-wrapper {
		position:absolute;
		top:100%;
		left:5px;
		right:5px;
		margin-bottom:5px;
		margin-top:5px;
		z-index:99;
		background-color:#fff;
		width:auto;
		box-shadow: 0px 0px 5px rgba(0,0,0,0.4);
	}
	
	#header-menu,
	#header-menu-wrapper {
		overflow:hidden;
	}
	
	.sidebar {
		padding-top:0px;
	}
	
	#header-menu > h2 {
		margin:0px;
		font-size: 0.5em;
		text-align: center;
		text-transform: uppercase;
		line-height:1.7em;
		padding-top:6px;
		background-color:#f6f6f6;
		border-bottom:solid 1px #ccc;
	}
	
	#header-menu > h2.menu {
		border:none;
	}
	
	#left-sidebar > h2,
	#right-sidebar > h2 {
		display:none;
	}
	
	
	#header-menu-wrapper.show {
		height:auto;
	}
	
	#header-menu-wrapper.hide {
		height:0px;
		padding:0px;
	}
	
/****************************************************************************************
 * Widget - Search
 ****************************************************************************************/

	body.search #main form#searchform {
		border-top:solid 1px #ccc;
		border-bottom:solid 1px #ccc;
		background-color:#f6f6f6;
		padding:5px;
		margin-left:-5px;
		margin-right:-5px;
	}
	
	body.search #main form#searchform:before,
	body.search #main form#searchform:after {
		content:"";
		display:table;
	}
	
	body.search #main form#searchform:after {
		clear:both;
	}
	
	/* For IE 6/7 (trigger hasLayout) */
	body.search #main form#searchform {
		zoom:1;
	}
	
	body.search #main form#searchform {
		padding:10px 5px;
		border-left-width:0px;
		border-right-width:0px;
	}
	
	body.search #main form#searchform .screen-reader-text {
		display:block;
	}
	
	body.search #main form#searchform .textbox_wrapper {
		display:block;
		padding:0px;
		width:100%;
		border:solid 1px #ccc;
		overflow:hidden;
		margin:5px 0px;
		background-color:white;
	}
	
	body.search #main form#searchform #s {
		display:block;
		width:100%;
		margin:5px;
		border:none;
	}
	
	body.search #main form#searchform #searchsubmit {
		display:block;
		float:right;
		margin:0px;
	}

/****************************************************************************************
 * Main
 ****************************************************************************************/
	
	#main {
		padding:5px;
	}
	
	#left-sidebar-wrapper,
	#right-sidebar-wrapper {
		padding:5px;
		padding-top:34px;
	}
	
	#content {
		min-height:1px;
		min-width:auto !important;
		width:auto !important;
	}
	
	#content .sidebar-controls {
		position:relative;
		background-color:transparent;
		height:16px;
		margin-bottom:10px;
	}
	
	#content .sidebar-controls .button {
		position:absolute;
		z-index:999;
		height:24px;
		width:22px;
		border:none;
	}
	
	#content .sidebar-controls .left-sidebar.button {
		left:-5px;
		top:0px;
	}

	#content .sidebar-controls .right-sidebar.button {
		right:-5px;
		top:0px;
	}
	
	#content .sidebar-controls .button.show {
		border-color:#666;
	}

	#content .sidebar-controls .button.hide {
		border-color:#ccc;
	}

	#left-sidebar-button.hide {
		background-image:url('../images/menu-left-grey-lines.png');
	}

	#left-sidebar-button.show {
		background-image:url('../images/menu-left-black-lines.png');
	}
	
	#right-sidebar-button.hide {
		background-image:url('../images/menu-right-grey-lines.png');
	}

	#right-sidebar-button.show {
		background-image:url('../images/menu-right-black-lines.png');
	}
	
/****************************************************************************************
 * Sidebar
 ****************************************************************************************/

	#main {
		position:relative;
	}

	body { 
		overflow-x:hidden;
	}
	
	#left-sidebar-wrapper,
	#right-sidebar-wrapper {
		box-shadow:0px 0px 5px rgba(0,0,0,0.4);
		background-color:#fff;
		margin-bottom:5px;
		z-index:99;
		top:-5px;
	}
	
	#left-sidebar-wrapper {
		position:absolute;
		left:-105%;
		right:105%;
	}

	#right-sidebar-wrapper {
		position:absolute;
		left:105%;
		right:-105%;
	}
	
	#left-sidebar-wrapper.hide {
		left:-105%;
		right:105%;
	}
	
	#left-sidebar-wrapper.show {
		left:5px;
		right:5px;
	}
	
	#right-sidebar-wrapper.hide {
		left:105%;
		right:-105%;
	}
	
	#right-sidebar-wrapper.show {
		left:5px;
		right:5px;
	}
	
/****************************************************************************************
 * Footer
 ****************************************************************************************/

	#footer {
		text-align:center;
	}

	#footer .links {
		text-align:center;
		border-bottom:solid 1px #ccc;
		padding:10px;
	}
	
	#footer .links a {
		color:#666666;
	}

	#footer .address {
		padding:10px;
	}

	#footer .follow {
		margin:0;
		margin-top:5px;
		font-size:1em;
		font-weight:bold;
		padding:10px 0px;
		border-bottom:solid 1px #ccc;
	}
	
	#footer .follow > div {
		color:#666;
	}
	
	#footer .follow img {
		margin-top:3px;
	}
	
	#footer .search {
		padding:10px;
		border-bottom:solid 1px #ccc;
	}
	
	#uncc-searchform {
		border:solid 1px #999;
		display:inline-block;
	}













	#header-menu {
		font-family:Arial, sanserif;
	}
	
	#header-menu ul {
		list-style:none;
		padding-left:0px;
		margin:0px;
	}	
 
	#header-menu ul a {
		color:#555;
		font-size:0.9em;
		padding:0.6em 17px;
		padding-right:10px;
		display:block;
		border-top:solid 1px #ccc;
	}
	
	#header-menu ul a:hover {
		text-decoration:none;
		color:#0A7543;
		background-color:#eee;
	}

	#header-menu ul li.current_page_item > a {
		font-weight:bold;
		color:#0A7543;
		background-color:#f6f6f6;
	}

	#header-menu ul li.current_page_item > a:hover {
		color:#0A7543;
		background-color:#eee;
	}
			
	#header-menu ul li.current_page_item,
	#header-menu ul li.current_page_ancestor {
		background-color:#f6f6f6;
	}

	#header-menu ul.children a {
		border-top:none;
	}
	
	#header-menu ul.children {
		display:none;
	}
	
	#header-menu ul li.current_page_item > ul.children,
	#header-menu ul li.current_page_ancestor > ul.children {
		display:block;
	}
	
	#header-menu ul.children {
		padding-left:14px;
	}
	
	#header-menu ul li a {
/* 		background-image:url('../images/list-bullet2.png'); */
	    background-repeat: no-repeat;
	    background-position: left center;
	}

	#header-menu ul li.page_item_has_children > a {
		background-image:url('../images/list-arrow-right.png');
	}

	#header-menu ul li.current_page_item.page_item_has_children > a,
	#header-menu ul li.current_page_ancestor.page_item_has_children > a {
		background-image:url('../images/list-arrow-down.png');
	}	


	#header-menu #site-searchform {
		display: block;
		padding: 5px 24px;
	}
	
	#header-menu .textbox_wrapper {
		height: 20px;
		padding: 5px;
		border: solid 1px #666;
		padding-right: 35px;
    	position: relative;
	}
	
	#header-menu .textbox_wrapper input[type=text] {
		font-size: 1.0em;
		width: 100%;
		margin: 0;
		padding: 0;
	}
	
	#header-menu .textbox_wrapper input[type=submit] {
	    position: absolute;
	    top: 0;
	    right: 0;
	    width: 30px;
	    height: 30px;
	    padding: 0;
	    background: #666 url('../images/google-search-button.png') no-repeat center center;
	    color: transparent;
	    border: solid 1px #666;
	}


